@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

*{
    margin: 0%;
    padding: 0%;    
}
.containerCorpo{
    scroll-behavior: smooth;
}
body{
    flex-direction: column;   
    color: white;              
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;    
    padding: 5px;        
    text-align: center ;
    background-color: #00001a; /* For browsers that do not support gradients */
    
    
}
.cabeca{
    border-radius: 15px;
    box-sizing: content-box;
    background-image: linear-gradient(#00001a,#2a005a,#87ceeb);    
}
#ceu{     
    width: 100%;
    padding: 10% auto;    
}

.caixaNome{
    font-size: 5vw;    
    text-align: center;    
}
.caixaApresentacao{   
    font-size: 3vw;    
}
nav{    
    display: flex;
    justify-content: space-evenly;    
    gap: 2px;
    margin-top: 50px;   
    background-color: #3545DB;     
    border: 1px solid white;
    border-radius: 15px;
    padding: 1%;
    
}
.formacaoConteudo,
.experienciaConteudo,
.habilidadeConteudo,
.motivacoesConteudo,
.portifolioConteudo,
.contatosConteudo{
    font-size: 2vw;    
    text-align: center;   
    color: white;
    text-decoration: none;    
}
.descricao{
    font-size: 2vw;
    padding-top: 20%;
    padding-bottom: 20%;
    margin: 0% auto;    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-right: 30%;
    margin-left: 30%;  
}
.containerCorpo{
    margin-top: 0%;
       
}
#formacao{
    padding: 0;
    background-color: #00001a;
    margin: 0%;  
    border-radius: 15px;
}
.experiencia,
.habilidades,
.motivacoes,
.portifolio{    
    padding: 100%;
    background-color: #00001a;
    margin: 0%;  
    border-radius: 15px;       
}
.corpo,
.expImg,
.habImg,
.motImg{
    box-sizing: content-box;
    width: 60%;
    padding: 10% auto;
}
.formacaoConteudo:hover,
.experienciaConteudo:hover,
.habilidadeConteudo:hover,
.motivacoesConteudo:hover,
.portifolioConteudo:hover,
.contatosConteudo:hover{
    color: black;
    margin: 10px;
}
.btnFormacao:hover,
.btnExperiencia:hover,
.btnHabilidades:hover,
.btnMotivacoes:hover,
.btnPortifolio:hover,
.btnContatos:hover{
    
    padding: 5px auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 15px;
    cursor: pointer;   
}
.formacaoCaixa{
    color: #3545DB;
    font-size: 4vw;
    margin-bottom: 0%;
    padding: 0px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fefeff;      
}

.experienciaDescricao,
.habilidadesCaixa,
.motivacoesCaixa,
.portifolioCaixa{
    font-size: 4vw;
    background-color: #3545DB ;
    padding: 0px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    
}
.linksPortifolio{
    display: flex;
    align-items: flex-start;
    margin: 10%;
    color: #000000;    
}
#decodificador{
    display: flex;
    justify-content: left;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: #3545DB;
    font-size: 1vw;
    text-decoration: none;
}
.imgDecodificador{
    margin: 0%;
    width: 20vw;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255); 
    margin-top: 5px;
    margin-bottom: 5px;
}
.readDecoder{
    text-align: left;
    margin: 10px;
    color: white;   
}
footer{
    border-radius: 15px;
    
}
#contatos{
    background-color: #000000;
    padding: 0;
}
.links{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    
}
#linkedin{
    color: #0e76a8 ;
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
    background-color: #00001a;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
}
#whatsaap{
    color: rgb(42, 209, 42);
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
    background-color: #00001a;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
}
#git{
    color:  #c97d26;
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
    background-color: #00001a;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
}
#facebook{
    color:  #3b5998;
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
    background-color: #00001a;
    border: 1px solid white;
    border-radius: 15px;
}
#instagram{
    color: #3f729b;
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
    background-color: #00001a;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
}
#cv{
    color: white;
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
    background-color: #00001a;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
}
.email{
    font-size: 2vw ;
}
#sobe{
    position: fixed;
    right: 10px;
    bottom: 60px;
    width: 7vw;
    opacity: 0.6    ;  
}
@media(max-width:500px){
    .corpo,
    .expImg,
    .habImg,
    .motImg{
        width: 90%;
        padding: 10% auto;
    }
}
@media (max-width: 600px){
    .experienciaDescricao,
    .habilidadesCaixa,
    .motivacoesCaixa,
    .portifolioCaixa{
        font-size: 5vw;    
    }
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin-right: 5%;
    margin-left: 5%;  
}
